.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}
.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo img {
  max-width: 260px;
  margin-right: auto;
}
.user-actions div {
  margin-left: auto;
}
.user-actions svg {
  margin: 0 20px;
  font-size: 22px;
  cursor: pointer;
}
.header-menu ul {
  display: flex;
  list-style: none;
}
.header-menu ul li {
  margin: 0px 10px;
}
.header-menu .el-button {
  border: none;
  font-weight: 500;
  font-size: 18px;
}
.header-menu .el-button:hover {
  background-color: grey;
  color: #fff;
}
.header-menu .el-button:focus {
  background-color: transparent;
  color: rgb(120, 120, 245);
}
.header-menu .el-button a {
  text-decoration: none;
  color: inherit;
}
.header-menu .el-button a:focus {
  color: #40addd;
}
.hamburger-icon {
  display: none;
}
@media (max-width: 767.98px) {
  .logo img {
    margin: 0 auto;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    font-size: 22px;
  }
}
@media (max-width: 996px) {
  .user-actions div {
    display: flex;
  }
  .user-actions svg {
    margin: 0 10px;
  }
}
